################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thumbnail2.xcf
/thumbnail2.png
/.vs
